* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #grid {
        display: grid;
        height: 650px;
        width: 850px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background: #8672a9;
        padding: 24px;
        grid-gap: 10px;

        .card {
            border: 1px solid #cacaca;
            margin: 5px;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            height: 185px;
            overflow: hidden;
            position: relative;
            background-size: cover;
            background-position: center;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &.eliminated {
                opacity: 0.3;
                filter: grayscale(50%);
                pointer-events: none;
            }

            &:hover{
                border: 3px solid #fff;
            }

            span {
                position: absolute;
                background-color: #6a4d9a;;
                width: 100%;
                top: 0;
                right: 0;
            }
        }
    }
}

aside {
    margin: 0 20px;
    height: 650px;

    #logo{
        img{
            height: 100px;
            display: block;
            margin: 0 auto;
        }
    }

    .content {
        span {
            font-size: 18px;
        }

        select {
            width: 190px;
            margin: 15px 0;
            height: 40px;

            &:enabled{
                border: 5px solid #FFC107;
                border-radius: 1px;
            }
        }

        button{
            width: 60px;
            height: 30px;
            margin: 8px 8px 0 0;
        }

        .selected-card{
            height: 200px;
            width: 200px;
            margin: 30px 0;
        

            img{
                height: 100%;
                margin: 0;
                animation: fadeIn .2s;
            }
            @keyframes fadeIn{
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }

        }
        .computer{
            width: 220px;

            p{
                display: block;
                margin: 10px 0;
                height: 40px;
            }
        }
    }
}

@media all and (max-width: 699px){
    main{
        #grid {
            grid-template-columns: repeat(2, 1fr);
            height: auto;
        }
    }
}

@media all and (max-width: 559px){
    main {
    height: 100%;
    flex-direction: column;

        #grid{
            order: 2;
            width: 85vw;
            margin-bottom: 40px;
        }

        aside {
            height: auto;
            margin: 40px 0 20px 0;

            .content{
                display: flex;
                margin-top: 40px;

                .selected-card{
                    margin: 30px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}